<div class="container-fluid" id="mainContent">
<h1>Your Profile</h1>

<div id="profilePic">
  <img src={{user.profilePicture}}>
</div>


<div id="proinfo">
<!-- <h2>{{user.firstName}} {{user.lastName}}</h2> -->
<p>{{user.flair}}</p>
</div>
<button [routerLink]="['/portfolio']">View Your Portfolio</button>
<div *ngIf="user.role === 'ADMIN'">
<button [routerLink]="['/admin']">Admin Page</button>
</div>

<div id="posts">
  <!-- <h3>Your Posts</h3> -->
  <table class="table table-sm">
    <thead>
      <th scope="col">Your Posts</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </thead>
    <tbody>
    <tr *ngFor="let post of enabledPosts">
    <a [routerLink]="['/forum/']"><th scope="row">{{post.title}}</th></a>
    <td>{{post.description}}</td>
    <td>{{post.createdAt}}</td>
</tr>
</tbody>
  </table>
</div>

<div id="webinarsAttending">
  <!-- <h3>Webinars You Are Attending</h3> -->
<table class="table table-sm">
  <thead>
    <th scope="col">Webinars You're Attending</th>
    <!-- <th>Description</th> -->
    <th scope="col">Date</th>
    <th scope="col">Meeting Link</th>
  </thead>
  <tr *ngFor="let webinar of enabledWebinars">
    <a [routerLink]="['/webinars/']"><th scope="row">{{webinar.title}}</th></a>
    <!-- <td>{{webinar.description}}</td> -->
    <td>{{webinar.dateTime}}</td>
    <a href={{webinar.meetingLink}} target="_blank"><td>Join Zoom Meeting</td></a>
  </tr>
</table>


<div id="webinarsHosting">
  <table class="table table-sm">
    <thead>
      <th scope="col">Webinars You're Hosting</th>
      <th scope="col">Date</th>
      <th scope="col">Meeting Link</th>
      </thead>
      <tr *ngFor="let webinar of enabledHostingWebinars">
        <a [routerLink]="['/webinars/']"><th scope="row">{{webinar.title}}</th></a>
        <td>{{webinar.dateTime}}</td>
        <a href={{webinar.meetingLink}} target="_blank"><td>Zoom Meeting</td></a>
      </tr>
  </table>
</div>





</div>





</div>








