h6 {
  font-size: 12px;
}

/* Class Selectors */

.routerLink{
  color: #17a2b8;
}

/* ID Selectors */

/* #proInfo {
  align-content: center;
} */

#profilePic {
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  padding: 5px;
  margin: 20px;
 	width: 250px;
 	height: 300px;
 	object-fit: cover;
}

#mainContent{
  min-height: 100vh;
  position: relative;
  bottom: 0;
}

#profileRow {
  justify-content: center;
}

#profileButtons {
  text-align: center;
}

h1 {
  font-size: 70px;
  font-style: bold;
}


