#profilePic {
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  	padding: 5px;
 	width: 250px;
 	height:300px;
 	object-fit: cover;
}

#mainContent{
  min-height: 100vh;
  position: relative;
  bottom: 0;
}

#verified{
  position: relative;

}

.routerLink{
  color: #17a2b8;
}

h6 {
  font-size: 12px;
}
