@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

main {
  background-image: url('src/images/portfoliobg2.jpg');
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: 'Playfair Display', serif;
  color: whitesmoke;
}
a {
  color: #aff4ff;
  text-decoration: underline;
}
p {
  color:#aff4ff;
  font-size: 19px;
  font-weight: bolder;
}

/* Classes */
.jumbotron-fluid {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/* ID's */

#widget {
  margin: auto;
}

#portfolioTitle {
  font-size: 120px;
  color: white;
  text-shadow: #454343 3px 2px;
}

#tablehead {
  color: #17a2b8;
}

#addStock {
  text-align: center;
  padding-bottom: 70px;
}

#editStock {
  text-align: center;
  padding-bottom: 70px;
}

#addEditForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolioRow {
  background-color: whitesmoke;
}
#portfolioRow:hover {
  background-color: #EBF1E8;
}

#exchange {
  color: black;
  font-weight: bolder;
}

#resourceTab {
  color:black;
  background-color: white;
}

#ngb-nav-0, #ngb-nav-1, #ngb-nav-2, #ngb-nav-3, #ngb-nav-4 {
  border: thin solid black;
  color: white;
  background-color: #17a2b8;
}

/* #ngb-nav-1 {
  color: black;
  background-color: white;
} */

#ngb-nav-0:hover, #ngb-nav-1:hover, #ngb-nav-2:hover, #ngb-nav-3:hover, #ngb-nav-4:hover {
  color: black;
}

#resourceTabs {
  text-align: center;
  text-shadow: black 2px 2px;
}

