@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

main {
  background-image: url('https://cdn.wallpapersafari.com/9/50/m2XPkq.jpg');
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: 'Playfair Display', serif;
}

/* Classes */
.jumbotron-fluid {
  background-image: url('https://lh3.googleusercontent.com/proxy/pR0VtuuBdEuNGY6UzmlEC9teiuRmoWBZXs45AQrMZSfwfbbtDoIroisSKzyD6jP7lYaQ0CyvOSKX4xTOkCks4f8BkxrVaGr0URPNomhwjCcs');
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#portfolioTitle {
  font-size: 120px;
  color: white;
  text-shadow: #454343 3px 2px;
}

#widgets {
  align-items: center;
  align-content: center;
}

#tablehead {
  color: rgba(67, 222, 67, 0.927);
}
