@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

main {
  background-image: url('src/images/portfoliobg2.jpg');
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: 'Playfair Display', serif;
  color: whitesmoke;
}

/* Classes */
.jumbotron-fluid {
  border-bottom: whitesmoke ridge thick;

  font-family: 'Playfair Display', serif;
  text-align: center;
}

.table-secondary:hover {
  background-color: teal;
}

/* ID's */

#widget {
  margin: auto;
}

#portfolioTitle {
  font-size: 120px;
  color: white;
  text-shadow: #454343 3px 2px;
}

#tablehead {
  color: rgba(67, 222, 67, 0.927);
}

#addStock {
  text-align: center;
}

#editStock {
  text-align: center;
}

#addEditForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
