<main>
  <div class="jumbotron-fluid">
  <h1 id="portfolioTitle">{{user.firstName}}'s Portfolio</h1>
  </div>
  <div id="userStocks" class="container-fluid">
    <ng-template #profileTip><b>Click to go back to your profile, {{user.firstName}}!</b></ng-template>
    <button [routerLink]="['/profile']" class="btn btn-dark" [ngbTooltip]="profileTip">View Your Profile</button>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th id="tablehead">Symbol</th>
          <th id="tablehead">Company Name</th>
          <th id="tablehead">Exchange</th>
          <th id="tablehead">Edit</th>
          <th id="tablehead">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of userStocks" (click)="chartSelect=stock" id="portfolioRow">
          <ng-template #resourcesTip><b>Click to view more resources on {{stock.companyName}}</b></ng-template>
          <td><button (click)="resources=stock" class="btn btn-info" [ngbTooltip]="resourcesTip">{{stock.symbol}}</button></td>
          <td>{{stock.companyName}}</td>
          <td id="exchange">{{stock.exchange}}</td>
          <ng-template #editTip><b>Click to Edit {{stock.companyName}}</b></ng-template>
          <td><button (click)="selected=stock" class="btn btn-info" [ngbTooltip]="editTip">Edit</button></td>
          <ng-template #deleteTip><b>Click to Delete {{stock.companyName}}</b></ng-template>
          <td><button (click)="removeStock(stock.symbol, stock)" class="btn btn-danger" [ngbTooltip]="deleteTip">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selected" id="editStock" class="container-fluid">
    <h4>Edit stock:</h4>
    <form #editStock='ngForm' id="addEditForm">
      <table>
        <tr>
          <!-- <th>Symbol:</th> -->
          <th>Company Name:</th>
          <th>Exchange:</th>
        </tr>
        <tr>
          <td><input type="text" name="companyName" [(ngModel)]="selected.companyName"></td>
          <td><input type="text" name="exchange" [(ngModel)]="selected.exchange"></td>
          <td><button (click)='updateStock(editStock)' class="btn btn-info">Submit</button></td>
          <ng-template #cancelTip><b>Click to go back to Add!</b></ng-template>
          <td><button (click)='selected = null' class="btn btn-danger" [ngbTooltip]="cancelTip">Cancel</button></td>
        </tr>
      </table>
    </form>
  </div>
  <div *ngIf="!selected" id="addStock" class="container-fluid">
    <h4>Add a Stock:</h4>
    <form #newStock='ngForm' id="addEditForm">
      <table>
        <tr>
          <th>Symbol:</th>
          <th>Company Name:</th>
          <th>Exchange:</th>
        </tr>
        <tr>
          <td><input type="text" name="symbol" ngModel></td>
          <td><input type="text" name="companyName" ngModel></td>
          <td><input type="text" name="exchange" ngModel></td>
          <ng-template #addTip><b>Click to add a new Stock!</b></ng-template>
          <td><button class="btn btn-info" (click)='addNewStock(newStock)' [ngbTooltip]="addTip">Add</button></td>
        </tr>
      </table>
  </form>
  </div>
  <div *ngIf="resources" class="container-fluid" id="resourceTabs">
    <h2>Resources for {{resources.companyName}}</h2>
  </div>
  <div *ngIf="resources" class="container-fluid">
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Analyst Ratings</a>
        <ng-template ngbNavContent>
          <p><a href="https://www.marketbeat.com/stocks/{{resources.exchange}}/{{resources.symbol}}/price-target/" target="_blank">Marketbeat</a> analyst price target information for {{resources.companyName}}</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><b>Stocktwits</b></a>
        <ng-template ngbNavContent>
          <p>See what people are saying about {{resources.companyName}} on <a href="https://www.stocktwits.com/symbol/{{resources.symbol}}" target="_blank">Stocktwits</a>!</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink><b>Seeking Alpha</b></a>
        <ng-template ngbNavContent>
          <p>Read analysis articles on <a href="https://seekingalpha.com/symbol/{{resources.symbol}}/analysis" target="_blank">Seeking Alpha</a>!</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink><b>SEC Filings</b></a>
        <ng-template ngbNavContent>
          <p>View all of {{resources.companyName}}'s <a href="https://www.sec.gov/cgi-bin/browse-edgar?CIK={{resources.symbol}}&Find=Search&owner=exclude&action=getcompany" target="_blank">SEC Filings</a></p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class=".col-sm-6" id="widget">
        <iframe height="500" width="500" src="https://ssltvc.forexprostools.com/?pair_ID=6408&height=480&width=1600&interval=300&plotStyle=candles&domain_ID=1&lang_ID=1&timezone_ID=5"></iframe>
      </div>
      <div class=".col-sm-3" id="widget">
        <iframe frameborder="0" scrolling="no" height="450" width="420" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.forexprostools.com/profit-calculator/index.php?force_lang=1&acc=12&pair=1"></iframe>
      </div>
      <div class=".col-sm-3" id="widget">
        <iframe frameborder="0" scrolling="no" height="450" width="420" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssltools.forexprostools.com/margin-calculator/index.php?force_lang=1&acc=12&pair=1"></iframe>
      </div>
    </div>
  </div>
</main>
