<div class="container-fluid" id="mainContent">
  <h1>Account Settings</h1>

  <div id="userInfo" class="contianer-fluid">
    <div class="row">
      <div class="col">
        <img id="profilePic" [src]="userUpdate.profilePicture"/>
        <br>
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Verified</th>
              <th>Delete Account</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{userUpdate.firstName}}</td>
              <td>{{userUpdate.lastName}}</td>
              <td>{{userUpdate.email}}</td>
              <td *ngIf="userUpdate.role !== 'VERIFIED'"><button class="btn btn-info mr-1" *ngIf="userUpdate.role == 'STANDARD'" (click)="applyForVerification(userUpdate)">Apply for Verification</button></td>
              <td *ngIf="userUpdate.role === 'VERIFIED'">You are verified</td>
              <td><button class="btn btn-danger mr-1" (click)="disableUser(userUpdate)">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<br>
  <div class="container-fluid">
    <h4>Update your information:</h4>
    <form #updatedUser='ngForm'>
      <input type="hidden" name="enabled" [(ngModel)]="userUpdate.enabled">
      <input type="hidden" name="role" [(ngModel)]="userUpdate.role">
          <div class="form-group">
            <input type="text" placeholder="Change first name" name="firstName" [(ngModel)]="userUpdate.firstName">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Change last name" name="lastName" [(ngModel)]="userUpdate.lastName">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Change profile pic URL" name="profilePicture" [(ngModel)]="userUpdate.profilePicture">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Change email" name="email" [(ngModel)]="userUpdate.email">
          </div>
      <button class="btn btn-info mr-1" (click)="updateUser(updatedUser)">Submit</button>
    </form>
    <br>
  </div>
</div>
