#mainContent{
  min-height: 100vh;
  position: relative;
  bottom: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #eeeeee;
  color: #17a2b8;;
  font-size: 50px;
}

.btn {
  margin-right: 5px;
  margin-bottom: 5px;

}

#discussion {
  color: #393e46;
}

.routerLink{
  color: #17a2b8;
}

h6 {
  font-size: 12px;
}

h1 {
  font-size: 100px;
  font-style: bold;
}


h5 {
  color: lightgrey;
  font-style: italic;
}

#verified{
  height:20px;
  width: 10px;
}
