img {
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  	padding: 5px;
 	width: 300px;
 	height:200px;
 	object-fit: cover;
}

#main-content {
  min-height: 100vh;
  position: relative;
  bottom: 0;
}
