<div class="container-fluid" id="main-content">
<div id='allWebinars' class='container-fluid'>
    <h1>Webinars</h1>
    <h5>Browse through our online events hosted by StockOverflow verified experts.</h5>
    <br>
    <table class="table table-hover" *ngIf="!selected && !webinarToEdit">
      <tbody>

      <tr *ngFor='let webinar of allWebinars'>
        <th (click)="selected=webinar">{{webinar.title}} </th>
      </tr>
    </tbody>
    </table>
  </div>
  <div id='selectedWebinar' class='container-fluid' *ngIf='selected'>
    <table class="table borderless">
      <tr>
        <th><img src={{selected.picture}}/></th>
        <th><div>{{selected.dateTime | date:'short'}}</div></th>
        <th>Hosted by: <a class="routerLink" [routerLink]="['/profile/', selected.userCreator.id]"> {{selected.userCreator.username}}</a></th>
        <th>{{selected.usersAttending.length}} / {{selected.maxAttendees}} capacity</th>
      </tr>
      <div class="moveDetails">
      <tr>
      </tr>
      <tr>
        <td>{{selected.description}}</td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-info mr-1" (click)="displayWebinars()">Back To Webinars</button>
          <button class="btn btn-info mr-1" *ngIf='checkLogin() && !checkIfUserAlreadyAttending(selected) && !checkIfUserIsHosting(selected) && selected.usersAttending.length < selected.maxAttendees' (click)="signUpUser(selected.id)">Sign Up</button>
          <button *ngIf="selected.usersAttending.length >= selected.maxAttendees" type="button" class="btn btn-info" disabled>Meeting at capacity</button>
          <button class="btn btn-info mr-1" *ngIf='checkLogin() && checkIfUserAlreadyAttending(selected) && !checkIfUserIsHosting(selected)' (click)="withdrawUser(selected.id)">Withdraw</button>
          <button class="btn btn-info mr-1" *ngIf='checkLogin() && checkIfUserIsHosting(selected)' (click)="webinarToEdit = selected">Update Your Webinar</button>
          <button class="btn btn-info mr-1" *ngIf='checkLogin() && checkIfUserIsHosting(selected)' (click)="cancelWebinar(selected.id)">Cancel Webinar</button>
        </td>
      </tr>
    </div>
    </table>
  </div>


  <div id="editWebinar" class="container-fluid" *ngIf="webinarToEdit && selected">
    <form #webinarBeingEdited="ngForm">
      <div class="form-group">
      <input type="hidden" class="form-control" name="id" [(ngModel)]="webinarToEdit.id"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="title" id="labelForTitle" [(ngModel)]="webinarToEdit.title"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="description" rows="5" [(ngModel)]="webinarToEdit.description"/>
      </div>
      <div class="form-group">
      <input type="datetime-local" class="form-control" name="dateTime" [(ngModel)]="webinarToEdit.dateTime"/>
      </div>
      <div class="form-group">
      <input type="text" class="form-control" name="picture" [(ngModel)]="webinarToEdit.picture"/>
      </div>
      <div class="form-group">
      <input type="text" class="form-control" name="meetingLink" [(ngModel)]="webinarToEdit.meetingLink"/>
      </div>
      <div class="form-group">
      <input type="number "class="form-control" name="maxAttendees" [(ngModel)]="webinarToEdit.maxAttendees"/>
      </div>
      <button type="button" class="btn btn-info mr-1" (click)="updateWebinar(webinarBeingEdited)">Update</button>
      <button type="button" class="btn btn-info mr-1" (click)="webinarToEdit = null">Back</button>
    </form>
  </div>

  <div id="hostWebinar" class="container-fluid" *ngIf="loggedInUser.role === 'VERIFIED'">
  <h3>{{loggedInUser.firstName}}, host your next Webinar!</h3>
  <form #newWebinar=ngForm>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Title" name="title" ngModel/>
  </div>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Description" name="description" ngModel/>
  </div>
  <div class="form-group">
  <input type="datetime-local" class="form-control" name="dateTime" ngModel>
  </div>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Event Image" name="picture" ngModel>
  </div>
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Meeting Link" name="meetingLink" ngModel>
  </div>
  <div class="form-group">
  <input type="number" class="form-control" placeholder="Max Attendees" name="maxAttendees" ngModel>
  </div>
  <button type="button" class="btn btn-info mr-1" (click)="createWebinar(newWebinar)">Submit</button>
  <br>
  </form>
  <br>
  </div>

  </div>






