<main class="container-fluid" id="mainContent">
  <section class="testimonials section-bg" id="testimonials2">
    <div class="container-fluid">
      <div class="section-title">
        <h1 id="resourceTitle">Resources</h1>
        <h5 id="resourceDescription">FAQ, Articles and Videos to increase your Stock knowledge.</h5>
      </div>


    </div>
    <!-- ======= Cta Section ======= -->
    <section class="cta" id="cta">
      <div class="container">

        <div class="text-center">
          <h1>Beginner 101</h1>
          <p> If you don't even know where to start or what to ask, you're in the right place!</p>
          <h3 class="cta-btn">LEARN TODAY!</h3>
        </div>

      </div>
    </section>
    <main id="main">

      <!-- ======= Services Section ======= -->
      <section class="services" id="services">
        <div class="container-fluid">

          <div class="section-title">
            <h1>FAQ</h1>
            <p></p>
            <p>Where the Professionals Answer Your Questions</p>
          </div>

          <div class="row justify-content-center">
            <div class="col-xl-10">
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                  <h2 class="title">"How do I know what to buy?"</h2>
                  <p class="description">Warren Buffett famously said, “Buy into a company because you want to own it, not
                    because you want the stock to go up.” He’s done pretty well for himself by following that rule.

                    StockOverflow with teach you how to read company annual reports — specifically management’s annual
                    letter to shareholders. The letter is a general narrative of what’s happening with the business and
                    provide context for the numbers in the report.

                    After that, most of the information and analytical tools that StockOverflow will you teach you in
                    order for you to evaluate the business. StockOverflow's tutorials will teach you how to use financial
                    tools and provide seminars on how to pick stocks.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <h2 class="title">"I bought the stocks... now what?</h2>
                  <p class="description">Buying a stock — especially the very first time you become a bona fide part owner
                    of a business — is a major financial milestone.

                    But that's not because the process is difficult. Rather, buying stocks is pretty straightforward: Most
                    investors buy stocks online, through an investment account at an online or discount stockbroker. Once
                    you have an account open and funded, you can buy stock right on the online broker's website.

                    At StockOverflow, we will guide you on how to buy stocks, from how to open that brokerage account to
                    how to place your first stock order.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <h2 class="title">"How do I know when to sell?"</h2>
                  <p class="description">It's very possible that a stock you just bought may rise dramatically in a short
                    period of time. Many of the best investors are the most humble investors. Don't take the fast rise as
                    an affirmation that you are smarter than the overall market. It's in your best interest to sell the
                    stock.

                    A cheap stock can become an expensive stock very fast for a host of reasons, including speculation by
                    others. StockOverflow will teach you how to take your gains and move on. Even better, if that stock
                    drops significantly, consider buying it again. If the shares continue to increase, take comfort in the
                    old saying, "No one goes broke booking a profit."</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Services Section -->

      <!-- ======= About Section ======= -->
      <section class="cta" id="cta1">
        <div class="container">

          <div class="section-title">
            <h1>Articles</h1>
            <p></p>
            <p>Articles Written for your Financial Future</p>
          </div>

          <div class="row justify-content-center">
            <div class="col-xl-10">
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/story/high-volatility-is-here-to-stay-for-2020-goldman-names-31-stocks-to-deliver-the-best-risk-adjusted-returns-amid-the-turbulence-2020-06-29?mod=home-page" target="_blank"> "High volatility is here to stay in 2020. Goldman names 31 stocks to deliver the best returns amid the turbulence?"</a></h3>
                  <p class="description">The grim milestones of 10 million global coronavirus cases and more than 500,000 deaths, along with spikes in a number of U.S. states, haven't deterred investors...</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/story/dow-futures-rise-to-kick-off-holiday-shortened-week-even-as-coronavirus-cases-top-10-million-world-wide-2020-06-29?mod=markets" target="_blank"> "Dow up 450 points on positive housing data and hope that economic shutdowns will remain ‘targeted’ as coronavirus cases top 10 million"</a></h3>
                  <p class="description">The Dow Jones Industrial Average climbed Monday, partly on the back of upbeat economic data and a surge in shares of Boeing. But investors also were watching...</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/articles/coty-cozies-up-with-kim-kardashian-west-51593438082?mod=markets" target="_blank"> "Kim Kardashian West Teams Up With Coty.What It Means for the Stock"</a></h3>
                  <p class="description">Coty stock is popping in Monday morning trading on news that the cosmetics firm will take a 20% stake in Kim Kardashian West’s makeup line for $200 million, tying its fortunes even more closely with the reality TV star’s family. The deal values Kardashian West’s brand, KKW, at $1 billion. Last year Coty (ticker: COTY) purchased...</p>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line" target="_blank"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/story/gold-futures-inch-near-psychologically-important-1800-price-2020-06-29?mod=markets" target="_blank"> "Gold futures end higher, but silver declines as investors eye impact of COVID-19’s rapid spread"</a></h3>
                  <p class="description">Gold futures on Monday ended higher as evidence of a rapid spread in coronavirus cases supported buying the haven metal to start the week, but investor worries over industrial demand for silver...</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/story/before-pulling-money-from-your-retirement-account-ask-yourself-these-5-tough-questions-2020-05-27?mod=family-finances" target="_blank"> "Before pulling money from your retirement account, ask yourself these 5 tough questions"</a></h3>
                  <p class="description">Financial laws are changing fast. Now you can even take money early from your retirement account without an immediate penalty. Should you? Not if you’re acting out of fear or panic. Here’s the fine print about early withdrawals from 401(k) ...</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                  <div class="icon"><i class="ri-pie-chart-line"></i></div>
                  <h3 class="title"><a href="https://www.marketwatch.com/story/everyone-in-washington-wants-a-big-public-works-bill-but-no-one-wants-to-pay-for-it-2020-06-29?mod=economy-politics" target="_blank"> "Everyone in Washington wants a big public-works bill — but no one wants to pay for it"</a></h3>
                  <p class="description">The Democratic-led House is mounting a final push to approve a massive infrastructure bill before the July 4 holiday, covering everything from highways and mass transit to upgrading schools and water-treatment plants...</p>
                </div>
              </div>
            </div>
          </div>

          </div>

      </section><!-- End Cta Section -->

      <section class="about" id="about">
        <div class="container-fluid">
          <div
            class="row align-content-xl-start col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch text-left py-5 px-lg-5">
            <h1>Videos</h1>
          </div>

          <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
              <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                      frameborder="0" height="738"
                      src="https://www.youtube.com/embed/4wnAKP3qZjI"
                      width="1905"></iframe>
            </div>

            <div
              class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>Bob Proctor: How To Manifest Abundance with Lewis Howes</h3>
              <p>Bob Proctor is one of the most sought-after speakers in the world and featured in the wildly popular
                film,
                The Secret. For over 40 years, Bob Proctor has focused his work and teachings on helping people use the
                power of their mind to achieve prosperity, rewarding relationships, and spiritual awareness. He is the
                best-selling author of “You Were Born Rich” and has transformed the lives of millions through his books,
                seminars, courses and personal coaching.</p>
              <p>Thank you for watching this powerful interview with Bob Proctor!</p>
              <p>Check out the show notes here: https://www.lewishowes.com/835</p>
            </div>

          </div>

          <div class="row justify-content-center">
            <div
              class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>How The Economic Machine Works by Ray Dalio</h3>
              <p>Created by Ray Dalio this simple but not simplistic and easy to follow 30 minute, animated video answers
                the question, "How does the economy really work?" Based on Dalio's practical template for understanding
                the
                economy, which he developed over the course of his career, the video breaks down economic concepts like
                credit, deficits and interest rates, allowing viewers to learn the basic driving forces behind the
                economy,
                how economic policies work and why economic cycles occur.</p>
            </div>
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
              <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                      frameborder="0" height="738"
                      src="https://www.youtube.com/embed/PHe0bXAIuk0"
                      width="1905"></iframe>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
              <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                      frameborder="0" height="738"
                      src="https://www.youtube.com/embed/u8ANHNU0Fng"
                      width="1905"></iframe>
            </div>
            <div
              class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>The David Rubenstein Show: Warren Buffett on His Early Career in Finance</h3>
              <p>"The David Rubenstein Show: Peer-to-Peer Conversations" explores successful leadership through the
                personal
                and professional choices of the most influential people in business. Renowned financier and philanthropist
                David Rubenstein travels the country talking to leaders to uncover their stories and their path to
                success.
                The third episode features Berkshire Hathaway Chairman and Chief Executive Officer Warren Buffett.</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div
              class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>How The Economic Machine Works by Ray Dalio</h3>
              <p>Unless you are born with a silver spoon in your mouth, accruing wealth does not come easily, which is why Jim Cramer is so passionate about helping investors find a viable financial strategy.</p>
              <p>“Thanks to the magic of compounding, the earlier in your life you start investing in the market, the bigger your long-term gains can be,” the “Mad Money” host said.</p>
              <p>Cramer is confident that even if an investor does not have a high-paying job, as long as he saves a decent chunk of his paycheck and invests it wisely each year, he can grow his wealth and become financially independent, at the very least.</p>
              <p>In fact, when the “Mad Money” host researched the going all the way back to 1928, the average annual return through the end of 2014 was about 10 percent, including dividends.</p>
            </div>
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
              <iframe width="1905" height="738" src="https://www.youtube.com/embed/VViYcdFLg2M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

    </main><!-- End #main -->

