<div class="container-fluid" id="mainContent">
  <div class="stockoverflow">
  StockOverflow
  </div>



  <div id="flagship" class="container-fluid">

    <p>We know what it’s like to be overwhelmed by the world of stocks.
    Everyone wants to be financially savvy, but how?</p><br>
    The StockOverflow community is here to lead, educate,
    and guide you on your path to stock expertise. The founders of StockOverflow moderate and participate
    in discussions daily and invite you too as well!
    <p><br>Welcome to StockOverflow!<br></p>
    </div>





  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a [routerLink]="['/forum']">
        <img src="https://i.imgur.com/GlMD6eh.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div id="carouselFont"><h3 style="color:#eeeeee; font-size:100px; text-shadow: 2px 2px 4px #000000">FORUM</h3></div>
        </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/webinars']">
        <img src="https://i.imgur.com/aGsupNX.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div id="carouselFont"><h3 style="color:#eeeeee; font-size:100px; text-shadow: 2px 2px 4px #000000">WEBINARS</h3></div>
        </div>
        </a>
      </div>
      <div class="carousel-item">
        <a [routerLink]="['/resources']">
        <img src="https://i.imgur.com/6CiDzrB.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div id="carouselFont"><h3 style="color:#eeeeee; font-size:100px; text-shadow: 2px 2px 4px #000000">RESOURCES</h3></div>
        </div>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container-fluid">
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Live Cryptocurrency</a>
        <ng-template ngbNavContent>
          <iframe src="https://www.widgets.investing.com/top-cryptocurrencies?theme=darkTheme&roundedCorners=true" width="100%" height="600" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0">
          </iframe>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><b>Technical Widgets</b></a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class=".col-sm-4" id="widget">
              <h4 id="resourceTabs">Technical Summary Box</h4>
              <iframe src="https://ssltsw.forexprostools.com?lang=1&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=175,166,172,27,179,170,174&stocks=334,345,346,348,349,350,23343&tabs=4,3,2,1" width="500" height="460"></iframe>
            </div>
            <div class=".col-sm-4" id="widget">
              <h4 id="resourceTabs">Global Economic Calendar</h4>
              <iframe src="https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=week&timeZone=6&lang=1" width="460" height="460" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
            </div>
            <div class=".col-sm-4" id="widget">
              <h4 id="resourceTabs">Technical Charting Tool</h4>
              <iframe height="460" width="460" src="https://ssltvc.forexprostools.com/?pair_ID=8849&height=480&width=650&interval=300&plotStyle=area&domain_ID=1&lang_ID=1&timezone_ID=7"></iframe>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <br>
  <div class="container-fluid">
    <h3>Happy Stock Overflow Members</h3>
    <div class="card-deck">
      <div class="card">
        <img src="https://i.imgur.com/dzbpUJ1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chad Michael Murray</h5>
          <blockquote>Actor</blockquote>
          <p class="card-text">StockOverflow has helped me get my finances back in order. I recommend it to all my friends!</p>
        </div>
      </div>
      <div class="card">
        <img src="https://i.imgur.com/qk2eEyI.png?1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Steve Sharpe</h5>
          <blockquote>Software Engineer</blockquote>
          <p class="card-text">I didn't know what to do next with the stocks I was rewarded. Now I know exactly how to track them and how to determine when to sell them. I learned so much.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://i.imgur.com/GcCIssl.png?1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lauren Jopson</h5>
          <blockquote>HR Administrator</blockquote>
          <p class="card-text">My stocks from ZYXI were driving me crazy. After connecting to some StockOverflow experts, it's all become clear to me. Now, I sold them. Yay!</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container-fluid">
  <img src="https://i.imgur.com/dzbpUJ1.jpg" alt="Avatar" style="width:90px">
  <p><span>Chad Michael Murray</span> Actor</p>
  <p>StockOverflow has helped me get my finances back in order. I recommend it to all my friends!</p>
</div>

<div class="container-fluid">
  <img src="https://i.imgur.com/qk2eEyI.png?1" alt="Avatar" style="width:90px">
  <p><span >Steve Sharp</span> Software Engineer</p>
  <p>I didn't know what to do next with the stocks I was rewarded. Now I know exactly how to track them and how to determine when to sell them. I learned so much.</p>
</div>
<div class="container-fluid">
  <img src="https://i.imgur.com/GcCIssl.png?1" alt="Avatar" style="width:90px">
  <p><span >Lauren Jopson</span> HR administrator</p>
  <p>My stocks from ZYXI were driving me crazy. After connecting to some StockOverflow experts, it's all become clear to me. Now, I sold them. Yay!</p>
</div> -->





