@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

img {
	border: 1px solid #6B7A8F;
  padding: 5px;
 	height:300px;
 	object-fit: cover;
}


#flagship{
  text-align:center;
  font-size: 25px;
}

main {
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: 'Playfair Display', serif;
  color: 222831;
}

#carouselFont {
  color: 393e46;
}

.stockoverflow {
  font-size: 100px;
}

h3 {
  text-align: center;
  font-size: 50px;
}

h5 {
  text-align: center;
}

blockquote {
  color: lightgrey;
  text-align: center;
}
