<div id="main" class="container-fluid">
  <h1>StockOverflow</h1>
  <h3>About the Founders</h3>
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
      <div class="card">
        <img id="ourPic" src="https://i.imgur.com/uXjYYNx.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tabatha Flores</h5>
          <h6>Repo Owner</h6>
          <p class="card-text">Tabatha worked as a medical biller before starting at Skill Distillery.
            As a newcomer to programming, she enjoys the challenges that have come with learning something new
            and always makes sure to have fun while doing so.</p>
            <div class="buttons">
              <a href="https://github.com/TFLORES318" target="_blank"><button class="btn btn-outline-secondary mr-1">Github</button></a>
              <a href="https://www.linkedin.com/in/tabatha-flores-coleman/" target="_blank"><button class="btn btn-outline-primary mr-1">LinkedIn</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img id="ourPic" src="https://i.imgur.com/nRWGLIA.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jeff Lopez</h5>
            <h6>Developer</h6>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="buttons">
              <a href="https://github.com/lopezjronald" target="_blank"><button class="btn btn-outline-secondary mr-1">Github</button></a>
              <a href="https://www.linkedin.com/in/ronaldjlopez/" target="_blank"><button class="btn btn-outline-primary mr-1">LinkedIn</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img id="ourPic" src="https://i.imgur.com/TzNnu89.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Antoinette Papp</h5>
            <h6>Database Administrator</h6>
            <p class="card-text">After working as a teacher and medical biller, Toni now finds herself at Skill Distillery
              learning software development. What started as a bid towards an exciting new career turned into a fiery
              enthusiasm to learn all things coding.</p>
              <div class="buttons">
                <a href="https://github.com/arpapp" target="_blank"><button class="btn btn-outline-secondary mr-1">Github</button></a>
              <a href="https://www.linkedin.com/in/arpapp/" target="_blank"><button class="btn btn-outline-primary mr-1">LinkedIn</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img id="ourPic" src="https://i.imgur.com/pOeV0oH.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rich Wasek</h5>
              <h6>Scrum Master</h6>
              <p class="card-text">Rich worked as a Preschool teacher, then stumbled into a long relationship with REI while
                trying to find his true path in life. He got hooked in by coding and took it by storm, diving into Skill Distillery
                to learn technical skills and languages to advance into a new career as a developer. Rich enjoys trail running,
                backpacking, snowboarding, and adventuring in the great outdoors as much as possible.</p>
              <div class="buttons">
                <a href="https://github.com/rwasek" target="_blank"><button class="btn btn-outline-secondary mr-1">Github</button></a>
              <a href="https://www.linkedin.com/in/rich-wasek-304bb6a4/" target="_blank"><button class="btn btn-outline-primary mr-1">LinkedIn</button></a>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div id="wob">
    <img src="https://i.imgur.com/sJoZNd4.png">
  </div>
</div>
