#ourPic {
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  padding: 5px;
 	/* width: 150px; */
 	height:300px;
 	object-fit: cover;
}
#wob{
  text-align: center;
}
h6{
  color: gray;
}
#buttons{
  text-align: center;
}

#main{
  min-height: 100vh;
  position: relative;
  bottom: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #eeeeee;
  color: #17a2b8;;
  font-size: 30px;
}

h3 {
  text-align: center;
  color: 393e46;
}

h1 {
  font-size: 100px;
  font-style: bold;
}


#team {
  color: lightgrey;
  font-style: italic;
}

#robchu {
  color:#6C757D;
  text-align: center;
}

.accordion {
  text-align: center;
  color: gray;
}

/* .card {
  color: gray;
} */
