#ourPic {
	/* border-radius: 50%; */
	border: 1px solid #6B7A8F;
  padding: 5px;
 	/* width: 150px; */
 	height:300px;
 	object-fit: cover;
}
#wob{
  text-align: center;
}
h6{
  color: gray;
}
.buttons{
  text-align: center;
}

