/* ID selectors */

#navLink:hover, #navLinkMain:hover {
  color: #1fcde8fc;
}

#navLink {
  color: rgb(222, 222, 222);
}

#navLinkMain {
  color: whitesmoke
}

#loginBtn {
  text-align: center;
}

#pwLabel {
  margin-right: 5px;
}
